@font-face {
  font-family: generalFont;
  src: url(font/proxima-nova-font.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
li {
  text-decoration: none;
  list-style: none;
}
body {
  font-family: generalFont;
}
p {
  font-size: 20px;
}
html {
  overflow-x: hidden;
}
.mobile__nav {
  display: none;
}
nav {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
  margin-top: 38px;
}
nav ul {
  display: flex;
  align-items: center;
}
.container {
  max-width: 1535px;
  margin-left: auto;
  margin-right: auto;
}
/* Nav Col 1 */

.nav__col--1 li:first-child {
  margin-right: 45px;
}
.nav__col--1 li {
  margin-right: 53px;
}
.nav__col--1 li:last-child {
  margin-right: 0;
}
nav a {
  color: #666666;
  font-size: 20px;
}

/* Nav Col 2 */

.nav--col--2 .nav__sign--up a {
  background: #000;
  color: #fff;
  border-radius: 20px;
  height: 100px;
  border: 0;
  padding: 24px 30px;
  margin-left: 35px;
}

/* HERO SECTION */

.hero--section {
  padding-top: 69px;
  padding-bottom: 130px;
}

.hero--h1__div h1 {
  font-size: 149px;
  letter-spacing: -1px;
  font-weight: normal;
}
.hero--h1__div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero--h1__div h1:last-child {
  text-align: right;
  margin-right: 55px;
  margin-top: 18px;
}
/* HERO PROFILE */
.hero--profile__div {
  margin-top: 100px;
  display: flex;
}
.hero--profile--col1 {
  display: flex;
}
.hero--profile__photos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 18px;
}
.hero--profile__photos img:first-child {
  opacity: 1;
  border: 2px solid #73df91;
}
.hero--profile__photos img {
  padding: 8px;
  border: 2px solid #001a312f;
  border-radius: 20px;
  opacity: 0.3;
}

/* Description */
.hero--profile__informations {
  width: 604px;
}
.hero--profile__account {
  padding: 28px;
  border: 2px solid #73df91;
  border-radius: 20px;
  color: #666666;
  width: 100%;
}
.hero--profile__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.hero--profile__heading #profile__heading--col1 h3 {
  font-size: 28px;
  color: #000;
  margin-bottom: 15px;
}
.hero--profile__heading #profile__heading--col2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
  /* margin-right: 5px; */
}
.hero--profile__heading #profile__heading--col2 a {
  color: #000;
  font-size: 19px;
  border: 2px solid #000;
  border-radius: 25px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.hero--profile__heading #profile__heading--col2 a:first-child {
  width: 155px;
  justify-content: flex-start;
  padding-left: 20px;
}
.hero--profile__heading #profile__heading--col2 a:last-child {
  padding-top: 2px;
  width: 65px;
  padding-right: 20px;
  margin-left: 8px;
  padding: 0 20px;
}

.hero--profile__skills ul {
  display: flex;
  margin-top: 25px;
}
.hero--profile__skills ul li:last-child {
  margin-right: 0;
}
.hero--profile__skills ul li {
  padding: 0 15px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50rem;
  background: #ecfd31;
  margin-right: 5px;
}
.hero--profile__skills ul p {
  color: #000;
  font-size: 20px;
}

.hero--payment__div {
  display: flex;
  gap: 18px;
  margin-top: 15px;
}
.hero--payment__div div {
  border: 2px solid hsla(0, 0%, 40%, 0.5);
  flex: 1;
  border-radius: 25px;
  padding: 0 27px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero--payment__div div h4 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #666666;
  font-weight: normal;
}

.hero--payment__div div p {
  font-size: 28px;
}

.hero--payment__div span,
.hero--gradient__reward span {
  font-family: sans-serif;
}

.hero--gradient__reward {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 16px;
  border: 2px solid hsla(0, 0%, 40%, 0.5);
  border-radius: 25px;
  padding: 8px;
  padding-top: 25px;
}
.hero--gradient__reward div {
  padding-left: 15px;
}
.hero--gradient__reward div p:first-child {
  font-size: 28px;
}
.hero--gradient__reward div p:last-child {
  font-size: 22px;
}

/* Hero Col 2 */
.hero--profile--col2 {
  margin-left: 90px;
  width: 600px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero--col2__1 p {
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 60px;
}
.hero--col2__1 form {
  display: flex;
  justify-content: space-between;
}
.hero--col2__1 form input {
  width: 375px;
  height: 85px;
  border: 2px solid #001a312f;
  border-radius: 20px;
  background: #f3f3f3;
  font-size: 24px;
  padding-left: 25px;
}

.hero--col2__1 form button {
  width: 165px;
  border-radius: 15px;
  border: 0;
  background: #000;
  color: #fff;
  font-size: 24px;
  font-weight: lighter;
  cursor: pointer;
}

.hero--col2__2 {
  display: flex;
  justify-content: space-between;
}

.hero--col2__2 #first__div {
  display: flex;
  align-items: center;
  border: 2px solid #001a312f;
  border-radius: 25px;
  width: 410px;
  padding-left: 31px;
}
.hero--col2__2 #first__div img {
  border: 2px solid #000;
  border-radius: 12px;
  margin-right: 18px;
  padding: 17px 14px;
}
.hero--col2__2 #first__div h4 {
  font-size: 28px;
  font-weight: normal;
}
.hero--col2__2 #first__div p {
  font-size: 21px;
  margin-top: 8px;
}

@media screen and (max-width: 1670px) {
  .container {
    max-width: 1300px;
  }
  .hero--profile--col2 {
    margin-left: 30px;
  }
  .hero--profile__skills ul li {
    padding: 0 10px;
  }
  .hero--profile__informations {
    width: 525px;
  }
  .hero--profile--col2 {
    width: 570px;
  }
  .hero--col2__1 form input {
    width: 290px;
    font-size: 20px;
  }
  .hero--col2__1 form button {
    width: 140px;
    font-size: 22px;
  }
  .hero--col2__2 #first__div {
    width: 300px;
  }
  .hero--col2__1 p {
    font-size: 24px;
  }
  .hero--col2__2 #first__div h4 {
    font-size: 24px;
  }
  .hero--col2__2 #first__div p {
    font-size: 16px;
  }
}
@media screen and (max-width: 1320px) {
  .hero--h1__div h1 {
    font-size: 120px;
  }
  .hero--profile__div {
    flex-direction: column;
    align-items: center;
  }
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
  .hero--col2__1 p {
    font-size: 26px;
  }
  .hero--col2__1 form input {
    width: 375px;
  }
  .hero--col2__2 #first__div {
    width: 410px;
  }
  .hero--col2__2 #first__div p {
    font-size: 20px;
  }
  .hero--col2__2 {
    margin-top: 40px;
  }
  .hero--profile--col2 {
    margin-left: 0;
    width: 822px;
    margin-top: 40px;
  }
}
@media screen and (max-width: 1080px) {
  .hero--h1__div h1 {
    font-size: 100px;
  }
}
@media screen and (max-width: 1060px) {
  .nav__col--1 li {
    margin-right: 50px;
  }
  nav a {
    font-size: 18px;
  }
}
@media screen and (max-width: 1000px) {
  nav ul {
    display: none;
  }
  .mobile__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .mobile__nav ul.active {
    opacity: 1;
    pointer-events: all;
    right: 0;
  }
  .mobile__nav ul {
    display: flex;
    position: fixed;
    right: 0;
    flex-direction: column;
    height: 100vh;
    width: 30%;
    background: #fff;
    top: 0;
    box-shadow: 0 0 0 2000px #000000b0;
    z-index: 20;
    align-items: flex-start;
    padding-left: 25px;
    padding-top: 80px;
    transition: all 0.5s ease;
    opacity: 0;
    pointer-events: none;
    right: -100%;
  }

  .mobile__nav .nav__sign--up a {
    color: #fff;
  }
  .mobile__nav .nav__sign--up {
    background: #000;
    border-radius: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 24px 30px;
  }
  .mobile__nav ul li {
    margin-bottom: 2rem;
  }
  .close__burger {
    position: absolute;
    right: 25px;
    top: 25px;
  }
}

@media screen and (max-width: 880px) {
  .hero--h1__div h1 {
    font-size: 80px;
    width: 604px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero--h1__div h1:last-child {
    text-align: start;
    margin-right: auto;
  }
}
@media screen and (max-width: 860px) {
  .hero--profile--col1 {
    flex-direction: column;
    align-items: flex-start;
  }
  .hero--profile__photos {
    flex-direction: row;
    gap: 30px;
    margin-bottom: 12px;
  }
  .hero--profile__photos {
    margin-right: 0;
  }
  .hero--profile__informations {
    width: 604px;
  }
  .hero--gradient__reward {
    display: none;
  }
  .hero--gradient__reward img {
    height: 80%;
  }
  .hero--profile--col2 {
    width: 604px;
  }
  .hero--gradient__reward div {
    padding-left: 0;
  }
}
@media screen and (max-width: 660px) {
  .hero--profile--col2,
  .hero--profile__informations,
  .hero--profile__photos,
  .hero--profile--col1,
  .hero--h1__div h1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .mobile__nav ul {
    width: 60%;
  }
  .hero--profile__photos {
    gap: 0;
    width: 100%;
  }
  .hero--h1__div h1 {
    font-size: 60px;
  }
  .hero--profile__account {
    padding: 22px;
    padding-bottom: 12px;
  }
  .hero--profile__photos img {
    width: 6rem;
  }
  .hero--profile__skills ul {
    flex-wrap: wrap;
  }
  .hero--profile__skills ul li {
    margin-bottom: 12px;
  }
  .hero--profile__heading #profile__heading--col2 a:first-child {
    justify-content: center;
    padding-left: 0;
    width: 120px;
    font-size: 16px;
  }
  .hero--profile__heading #profile__heading--col1 h3 {
    font-size: 24px;
  }
  p,
  .hero--profile__skills ul p {
    font-size: 18px;
  }
  .hero--payment__div div p {
    font-size: 24px;
  }
  .hero--payment__div div h4 {
    font-size: 20px;
  }
  .hero--payment__div div {
    height: 110px;
  }
  .hero--col2__1 form,
  .hero--col2__2 {
    flex-direction: column;
    align-items: flex-start;
  }
  .hero--col2__2 #first__div {
    padding: 22px;
    width: 100%;
  }

  .gradient__2 {
    width: 90px;
    margin-top: 16px;
  }
  .hero--col2__1 form button {
    padding: 22px;
    margin-top: 16px;
  }
  .hero--col2__1 form input {
    width: 100%;
  }
}

@media screen and (max-width: 460px) {
  .hero--profile__photos {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 0;
  }
  .hero--profile__photos img {
    margin-bottom: 12px;
  }
  .hero--payment__div {
    flex-direction: column;
  }
  .hero--payment__div div {
    padding: 25px;
  }
  .hero--profile__heading {
    flex-direction: column;
    align-items: flex-start;
  }
  .hero--profile__heading #profile__heading--col2 {
    margin-top: 30px;
  }
  .container {
    padding: 0 10px;
  }
}
@media screen and (max-width: 460px) {
  .hero--h1__div h1 {
    font-size: 46px;
  }
  .mobile__nav ul {
    width: 100%;
  }
}
